body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  canvas {
    max-width: 1900px; /* Ancho máximo */
    height: 500px; /* Altura específica */
    margin: 0 auto; /* Centrar */
    display: block; /* Asegura que se vea como un bloque */
  }
  