body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  /* Logo */
  .logo {
    width: 200px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantén la proporción */
    margin-right: 10px; /* Espacio entre el logo y el título */
  }

  h1 {
    color: #333;
  }
  
  canvas {
    width: auto;
    max-width: 80%; /* Ancho máximo */
    height: auto; /* Altura específica */
    max-height: 80%;
    margin: 0 50px ; /* Centrar */
  }
  
/* Ajustes para móviles */
@media screen and (max-width: 768px) {
  canvas {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: auto;
  }
}